.favoris_result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 10px 0 10px 0;
  padding: 3rem;
}

.favoris_result > h5 {
  color: var(--color-text);
  text-decoration: underline;
  font-weight: 900;
  font-size: 1.3rem;
}

.favoris_result > button {
  background-color: var(--color-btn-2);
  border-radius: 20px;
}
.picturePrincipal {
  border-radius: 15px;
  box-shadow: -1px 1px 25px 7px rgba(51, 51, 51, 0.5);
}

.title-with-lines {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  padding: 30px;
  color: var(--color-text);
}

.left-line,
.right-line {
  flex-grow: 1;
  height: 3px;
  background-color: var(--color-text);
  margin: 0 10px;
}

@media (min-width: 620px) {
  .favoris {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .favoris_result {
      width: 30%;
      height: auto;
      margin: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }

    .favoris_result > h5 {
      text-align: center;
      font-weight: 900;
      font-size: 1.3rem;
    }

    .picturePrincipal {
      border-radius: 15px;
      box-shadow: -1px 1px 25px 7px rgba(51, 51, 51, 0.5);
      width: 300px;
      height: 300px;
      object-fit: cover;
    }

    .favoris_result > button {
      background-color: var(--color-btn-2);
      border-radius: 20px;
      text-align: center;
      padding: 10px 20px;
      margin-top: 10px;
    }
  }
  .title-with-lines {
    font-size: 2rem;
  }
}
