.favoris_result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 10px;
  padding: 1rem;
}

.title-recipes {
  color: var(--color-text);
  text-decoration: underline;
  font-weight: 900;
  font-size: 1.3rem;
  margin: 20px;
  background-color: aqua;
}

.favoris_result > button {
  background-color: var(--color-btn-2);
  border-radius: 10px;
  border: none;
  padding: 10px;

  &:hover {
    background-color: var(--color-btn-1);
  }
}
.picturePrincipal {
  width: 100%;
  border-radius: 15px;
  box-shadow: -1px 1px 25px 7px rgba(51, 51, 51, 0.5);
}

.title-with-lines {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  padding: 30px;
  color: var(--color-text);
}

.left-line,
.right-line {
  flex-grow: 1;
  height: 3px;
  background-color: var(--color-text);
  margin: 0 10px;
}
.favoris-recipe-title {
  text-decoration: underline;
  font-weight: 900;
  font-size: 1.3rem;
}

@media (min-width: 620px) {
  .favoris {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
  }

  .favoris_result {
    width: 30%;
    display: flex;
    flex-direction: column;
  }

  .title-with-lines {
    font-size: 2rem;
  }
}
