.laSelection {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;
  flex-wrap: nowrap; */
}
.web {
  margin: auto;
}

.enTete {
  font-family: var(--font-family);
  background-color: var(--color-navbar);
  border-radius: 20px;
  font-size: 1.4rem;
  text-align: center;
  /* position: absolute;
  margin-bottom: 450px; */
}
.enTete > h3 {
  padding: 10px;
}

.picturePrincipal {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.divText {
  background-color: var(--color-card-background);
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.divText > h5 {
  margin-top: 40px;
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 800;
}
/*bouton d'origine*/
.divText button {
  background-color: var(--color-text);
  color: var(--color-third-background);

  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 2rem;
  padding: 0.1rem;
  font-weight: 700;
}

.divText > button:active,
.divText > button:hover {
  outline: 0;
}

/*.divText > button:hover span {
  background: none;
}*/

.divText > button:active {
  transform: scale(0.9);
}

@media screen and (min-width: 400px) {
  .web {
    display: flex;
    margin: auto;
    justify-content: center;
  }

  .picturePrincipal {
    width: 50%;
    border-radius: 20px 0px 0 20px;
  }

  .divText {
    border-radius: 0 20px 20px 0;
    width: 50%;
  }

  button {
    font-weight: 900;
    margin-top: 150px;
    padding: 10px;
  }

  .enTete {
    width: 40%;
    padding: 5px;
    /* position: absolute;
    margin-bottom: 450px; */
  }
  .enTete > h3 {
    font-weight: 800;
    padding: 6px;
  }
  .divText > h5 {
    margin-top: 200px;
    font-size: 1rem;
    font-weight: 800;
  }
}
