.Details {
  padding-top: 50px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: auto;
}

.Details > div {
  /* flex-direction: column; */
  text-align: center;
}

.test > img {
  width: 80%;
  height: auto;
  border-radius: 20px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}
.heart {
  display: flex;
  flex-direction: column;
}

.heart > h2 {
  color: var(--color-btn-1);
  font-family: var(--font-family);
  font-weight: 900;
}

/* Regroupe le titre le coeur et le bouton add to my favorites ???? */
.heart {
  display: flex;
  align-items: center;
}

/* .pulsing {
  width: 30px;
  height: 30px;
  color: var(--color-btn-1);
  background:
    radial-gradient(circle at 60% 65%, currentColor 62%, #0000 65%) top left,
    radial-gradient(circle at 40% 65%, currentColor 62%, #0000 65%) top right,
    linear-gradient(to bottom left, currentColor 42%, #0000 43%) bottom left,
    linear-gradient(to bottom right, currentColor 42%, #0000 43%) bottom right;
  background-size: 50% 50%;
  background-repeat: no-repeat;
} */

.mybutton {
  width: 150px;
  margin-top: 10px;
  border: none;
  background-color: var(--color-btn-1);
  padding: 10px;
  display: block;
  border-radius: 10px;
  color: white;
  font-weight: 900;

  &:hover {
    background-color: var(--color-btn-2);
  }
}
.test > .ingredient {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.5;
}
.test > .ingredient > h3 {
  font-weight: 900;
}

.Details > .instruction {
  margin: 50px 20px 50px 20px;
  background-color: var(--color-navbar);
  width: 90%;
  border-radius: 20px;
  line-height: 1.5;
  padding: 20px;
}

@media screen and (min-width: 620px) {
  .test > img {
    background-color: var(--color-navbar);
    width: 400px;
    margin: auto;
  }

  .test > .ingredient {
    width: 50%;
    height: auto;
  }

  .Details > .test {
    padding: 20px;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  /* .heart{
  background-color: Red;
  display: flex;
  justify-content: space-between;
} */
}
