.search-containeur {
  margin: 20px auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-containeur input {
  height: 2rem;
  width: 20rem;
  padding: 15px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 5px var(--color-text);
}

.search-containeur button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-btn-2);
  border: none;
  color: var(--color-text);
  cursor: pointer;
  height: 2rem;
  width: 8rem;
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.search-containeur button :hover {
  background-color: var(--color-btn-1);
}

@media (min-width: 620px) {
  .search-containeur input {
    width: 40rem;
  }
}
