/* WelcomeComponent.css */
.wave-container {
  background-image: url(../assets/wc/image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Vous pouvez également définir d'autres propriétés de background selon vos besoins */
}

/* Style de la légende */
.image-caption {
  background: linear-gradient(
    90deg,
    rgba(224, 0, 123, 0.8) 0%,
    rgba(248, 101, 37, 0.8) 100%
  );
  color: white;
  text-align: center;
  padding: 30px;
  border-radius: 50px 0 50px 0;
  font-size: small;
}

@media (min-width: 620px) {
  .wave-container {
    height: 90vh;
    display: flex;
    justify-content: flex-start;
  }
  .image-caption {
    background-image: linear-gradient(90deg, #e0007b 0%, #f86525 100%);
    margin: 0 10%;
    width: 30rem;
    height: 15rem;
    font-size: larger;
  }
}
